<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
</head>
<body>
    <h1>form</h1>
    <form action="">
    <div><label for="name">Nome:<input type="text" name="Nome"></label></div>
    <div><label for="local">Local:<input type="text" name="local"></label></div>
    <div><label for="data">Data:<input type="date" name="data"></label></div>
    <div><label for="time">horario:<input type="text" name="time"></label></div>
    <div>
        <button type="submit">Salvar</button>
        <button type="reset">Limpar</button>
    </div>
    </form>
</body>
</html>