<!DOCTYPE >
<html  xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/comum/img/favicon.png?v=fb93eb95141192c586d0251d4beb9dd5" />
</head>
<body>
    <nav th:fragment="menu" class="green">
        <div class="nav-wrapper container"> 
          <a href="/" class="brand-logo">Event System</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/eventos/form">Criar Evento</a></li>
            
          </ul>
        </div>
      </nav>
      
    
    
</body>

</html>